src/main/resources/schemas/TicketService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://ipicyt.edu.mx/ws_i_solicitud_tk_imms_ipicyt"
           xmlns:spr="http://ipicyt.edu.mx/ws_i_solicitud_tk_imms_ipicyt"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- SOAP IN -->
    <xs:element name="TicketRequest" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id_remedy_glpi" type="xs:int"/>
                <xs:element name="type_transaccion" type="xs:string"/>
                <xs:element name="sub_type_transaction" type="xs:string"/>
                <xs:element name="Id_referencia_cliente" type="xs:string"/>
                <xs:element name="Company" type="xs:string"/>
                <xs:element name="ProdCat01" type="xs:string"/>
                <xs:element name="ProdCat02" type="xs:string"/>
                <xs:element name="ProdCat03" type="xs:string"/>
                <xs:element name="nombre_producto" type="xs:string"/>
                <xs:element name="CatOp01" type="xs:string"/>
                <xs:element name="CatOp02" type="xs:string"/>
                <xs:element name="glpi_tickets.requesttypes_id" type="xs:string"/>
                <xs:element name="contact_type" type="xs:string"/>
                <xs:element name="Impact" type="xs:string"/>
                <xs:element name="urgency" type="xs:string"/>
                <xs:element name="notes" type="xs:string"/>
                <xs:element name="actual_sys_date" type="xs:dateTime"/>
                <xs:element name="caller" type="xs:string"/>
                <xs:element name="calle_email" type="xs:string"/>
                <xs:element name="caller_phone" type="xs:string"/>
                <xs:element name="id_glpi" type="xs:string" />
                <xs:element name="Ticket_IPICYT" type="xs:string" />
                <xs:element name="glpi_tickets.content" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SOAP OUT -->
    <xs:element name="TicketResponse">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="type_transaccion"/>
                    <xs:attribute type="xs:string" name="Id_referencia_cliente"/>
                    <xs:attribute type="xs:string" name="glpi_tickets.id"/>
                    <xs:attribute type="xs:string" name="status_transaccion.id"/>
                    <xs:attribute type="xs:string" name="result_message"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>


</xs:schema>
