wsdl_remedy/20210329/PCT_ActualizaCHG_WS.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:PCT_ActualizaCHG_WS"
  xmlns:s0="urn:PCT_ActualizaCHG_WS"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:PCT_ActualizaCHG_WS">
      <xsd:element name="UPDATE" type="s0:InputMapping3"/>
      <xsd:complexType name="InputMapping3">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Ticket_IMSS" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Ticket_Proveedor" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Estado" nillable="true" type="s0:EstadoType"/>
          <xsd:element minOccurs="0" name="Notas" type="xsd:string"/>
          <xsd:element minOccurs="0" name="FechaInicioReal" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="FechaFinReal" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="Adjunto1Name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Adjunto1Data" type="xsd:base64Binary"/>
          <xsd:element minOccurs="0" name="Adjunto1Size" type="xsd:int"/>
          <xsd:element minOccurs="0" name="Adjunto2Name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Adjunto2Data" type="xsd:base64Binary"/>
          <xsd:element minOccurs="0" name="Adjunto2Size" type="xsd:int"/>
          <xsd:element minOccurs="0" name="Adjunto3Name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Adjunto3Data" type="xsd:base64Binary"/>
          <xsd:element minOccurs="0" name="Adjunto3Size" type="xsd:int"/>
          <xsd:element minOccurs="0" name="Accion" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="EstadoType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Draft"/>
          <xsd:enumeration value="Request For Authorization"/>
          <xsd:enumeration value="Request For Change"/>
          <xsd:enumeration value="Planning In Progress"/>
          <xsd:enumeration value="Scheduled For Review"/>
          <xsd:enumeration value="Scheduled For Approval"/>
          <xsd:enumeration value="Scheduled"/>
          <xsd:enumeration value="Implementation In Progress"/>
          <xsd:enumeration value="Pending"/>
          <xsd:enumeration value="Rejected"/>
          <xsd:enumeration value="Completed"/>
          <xsd:enumeration value="Closed"/>
          <xsd:enumeration value="Cancelled"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="UPDATEResponse" type="s0:OutputMapping3"/>
      <xsd:complexType name="OutputMapping3">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Resultado" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AuthenticationInfo" type="s0:AuthenticationInfo"/>
      <xsd:complexType name="AuthenticationInfo">
        <xsd:sequence>
          <xsd:element name="userName" type="xsd:string"/>
          <xsd:element name="password" type="xsd:string"/>
          <xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
          <xsd:element minOccurs="0" name="locale" type="xsd:string"/>
          <xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part element="s0:UPDATE" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ARAuthenticate">
    <wsdl:part element="s0:AuthenticationInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part element="s0:UPDATEResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PCT_ActualizaCHG_WSPortPortType">
    <wsdl:operation name="UPDATE">
      <wsdl:input message="s0:UPDATESoapIn">
      </wsdl:input>
      <wsdl:output message="s0:UPDATESoapOut">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PCT_ActualizaCHG_WSPortSoapBinding" type="s0:PCT_ActualizaCHG_WSPortPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="urn:PCT_ActualizaCHG_WS/UPDATE" style="document"/>
      <wsdl:input>
        <soap:header message="s0:ARAuthenticate" part="parameters" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PCT_ActualizaCHG_WSService">
    <wsdl:documentation>Web service para la actualización de solicitudes de cambio desde el IPICYT.</wsdl:documentation>
    <wsdl:port binding="s0:PCT_ActualizaCHG_WSPortSoapBinding" name="PCT_ActualizaCHG_WSPortSoap">
      <soap:address location="http://172.16.162.38//services/ARService?server=remedy&amp;webService=PCT_ActualizaCHG_WS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
